:root {
  --primary-color: black;
  --secondary-color: white;
  --main-text-color: rgb(132, 0, 149);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1{
  font-size: 3rem;
  font-weight: 600;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
}

button{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: black !important;
  border-color: #000 !important;
}

p{
  text-align: justify;
}

.material-icons{
  color: var(--main-text-color);
}

.logo {
  font-size: 1.5rem;
}

.page1 {
  background: var(--secondary-color);
  min-height: 90vh;
  width: 100%;
  position: relative;
}

.page1 nav {
  padding: 1% 4% 1% 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 5px 5px rgb(155, 150, 150);
}

.details {
  width: 50%;
}

.details ul {
  padding: 5% 10% 2%;
  /* width: 100%; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.details ul li {
  color: aliceblue;
}

.details ul li:after {
  content: "";
  position: absolute;
  width: 13%;
  bottom: 0;
  left: 0;
  border: 2px solid var(--main-text-color);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.details ul li:nth-child(1):after {
  width: 12%;
  left: 8%;
}

.details ul li:nth-child(2):after {
  left: 22%;
}

.details ul li:nth-child(3):after {
  width: 11%;
  left: 37%;
}

.details ul li:nth-child(4):after {
  width: 16%;
  left: 50%;
}

.details ul li:nth-child(5):after {
  width: 15%;
  left: 67%;
}

.details ul li:hover:after {
  transform: scale(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

a:hover {
  color: var(--main-text-color);
}

ul #moon {
  cursor: pointer;
}

.intro {
  margin: 2% 2% 0 2%;
  padding: 4% 10% 1% 10%;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-head {
  font-size: 4rem;
  font-weight: 800;
  gap: 2px;
}

.intro-img {
  width: 36%;
  background: linear-gradient(333deg, rgb(255, 0, 255), rgb(33 35 146));
  border-radius: 30% 70% 70% 30% / 40% 50% 50% 60%;
}

.img {
  height: 10%;
  width: 100%;
}

.mouse {
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2 {
  margin: 2% 0;
  padding: 5% 12%;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--main-text-color);
  color: var(--secondary-color);
}

.about-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about-exp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.about-btn{
  /* margin-left: 38%; */
}

.exp{
  margin: 0 2%;
  padding: 2%;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  border-radius: 20%;
}

.exp p{
  text-align: center;
}

.page3{
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .intro-title {
    width: 100%;
  }
  .intro-img, .about-img {
    display: none;
    position: absolute;
    width: 0;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
